@font-face {
  font-family: "Lato";
  src: url(../Assets/Lato/Lato-Bold.ttf) format("truetype");
}

/* colors */
:root {
  --main-color: rgb(92, 225, 230);
  --primary-color: rgb(113, 54, 233);
  --secondary-color: rgb(245, 245, 245);
  --bg-color: rgb(255, 255, 255);
  --text-color: rgb(73, 73, 73);
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato";
  /* background-color: rgb(15, 15, 15) */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main-title {
  margin: 0px auto 3rem;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 10px 20px;
  font-size: 28px;
  width: fit-content;
  position: relative;
  transition: 0.3s;
  z-index: 102;
}

.main-title::after,
.main-title::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::after {
  right: -30px;
}

.main-title::before {
  left: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.main-title:hover {
  color: var(--bg-color);
  border: 2px solid #fff;
  transition-delay: 0.5s;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12;
    height: 12;
  }

  100% {
    border-radius: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12;
    height: 12;
  }

  100% {
    border-radius: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

/* animation all page */
.scroll-content {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

.scroll-content.visible {
  opacity: 1;
  transform: translateY(0);
}
